<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="NobleHostConnStr" value="OGY3NjllNDAtYzE5ZC00MGQzLTlmYzgtYWM0OTc3ZWZiYWYyfGF2IpkQCqB2KX4+DDSIZM0xqlYLi7FtBSjVx2ElP4WWy/J56E4dgPoFpfkcpMyZSbn4JHWaDmgJBhTreNq3j+w=" />
  </appSettings>
</configuration>